@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Khách hàng</title>
    <style>
        @@media screen and (orientation:portrait) {

            td {
                font-size: 20px;
            }

            th {
                white-space: nowrap;
            }

            #LayoutMobile {
                display: block;
            }

            #LayoutDesktop {
                display: none !important;
            }

            #LayoutDetailMobile {
                display: block;
            }

            #LayoutDetailDesktop {
                display: none;
            }
        }

        @@media screen and (orientation:landscape) {
            #LayoutMobile {
                display: none;
            }

            #LayoutDesktop {
                display: block;
            }

            #LayoutDetailMobile {
                display: none;
            }

            #LayoutDetailDesktop {
                display: block;
            }
        }

        .block {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            width: 100%
        }
    </style>
</head>
<body>
    <!-- TOP TOOLBAR WRAPPER -->
    @*@RenderPage("~/Views/Shared/_Navbar.cshtml")*@
    <!-- END TOP TOOLBAR WRAPPER -->
    <div class="row m-0">
        <div class="col-12 m-0 p-0 shadow" style="background-color: rgba(255,255,255,0.9)">
            <div id="divGroup" class="d-flex flex-wrap">
            </div>
        </div>
        <div class="col-12" style="padding-top: 80px; margin-top: 20px;">
            <div class="row p-2 m-0">
                <div class="col-xl-2 m-10 p-10 mb-3">
                    <div class="p-3 shadow rounded-border" style="background-color: whitesmoke; border-radius: 20px;">
                        <div class="form-group">
                            <label>Mã phòng :</label>
                            <select id="cbbRoomSearch" class="form-control" onchange="">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mã :</label>
                            <input type="text" class="form-control" id="txtCode">
                        </div>
                        <div class="form-group">
                            <label>Tên :</label>
                            <input type="text" class="form-control" id="txtName">
                        </div>
                        <div class="form-group">
                            <label>CCCD :</label>
                            <input type="text" class="form-control" id="txtCCCD">
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-outline-primary" style="border-radius: 20px;" onclick="fnGetCustomer()"><i class="fas fa-search"></i>Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 m-10 p-10">
                    <div class="p-3 shadow rounded-border" style="border-radius: 20px; background-color: whitesmoke">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <button type="button"
                                        id="add-customer-btn"
                                        class="btn btn-primary"
                                        style="margin-bottom: 8px; border-radius: 20px;">
                                    <i class="fas fa-plus"></i> Thêm
                                </button>
                            </div>
                        </div>
                        <div id="LayoutDesktop">
                            <table id="customer-table" class="table table-rounded table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tên phòng</th>
                                        <th>Mã</th>
                                        <th>Tên</th>
                                        <th>Giới tính</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>CCCD</th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng thái</th>
                                        <th>Ngày hết hạn</th>
                                        <th style="display: none">Người tạo</th>
                                        <th style="display: none">Ngày tạo</th>
                                        <th>Ghi chú</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="LayoutMobile">
                            <input type="text" id="txtSearchInvoice" class="form-control mb-3" placeholder="Tìm kiếm mã, tên, giới tính, email, cccd, sđt..." />
                            <div id="cardCustomer"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="customer-modal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header">
                    <h4 class="modal-title">Khách hàng</h4>
                    <button type="button" class="close" data-dismiss="modal" id="close-modal">&times;</button>
                </div>
                <form id="customer-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Mã</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="customer-code" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label>Tên</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="customer-name" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" id="customer-email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>SĐT</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="customer-phone" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>CCCD</label>
                            <input type="text" id="customer-cccd" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <label style="color: red;">(*)</label>
                            <select id="customer-gender" class="form-control">
                                <option value="1">Nam</option>
                                <option value="0">Nữ</option>
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <label style="color: red;">(*)</label>
                            <input type="text" id="customer-address" class="form-control" />
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Phòng</label>
                            <label style="color: red;">(*)</label>
                            <select id="cbbRoom" class="form-control" onchange="">
                            </select>
                            <div class="invalid-feedback">err</div>
                        </div>
                        <div class="form-group">
                            <label>Ghi chú</label>
                            <input type="text" id="customer-note" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit"
                                class="btn btn-success rounded-border">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="customer-modal-pay" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="border-radius: 20px">
                <div class="modal-header">
                    <h4 class="modal-title">Thanh toán</h4>
                    <button type="button" class="close" data-dismiss="modal" id="close-modal-pay">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row p-3 mb-4"
                         style="background-color: #f5f5f5; border-radius: 12px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mã</label>
                                <input type="text" id="customer-code-pay" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" id="customer-fullname-pay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" id="customer-email-pay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>SĐT</label>
                                <input type="text" id="customer-phone-pay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phòng</label>
                                <input type="text" id="customer-room-pay" class="form-control" readonly />
                                <div class="invalid-feedback">err</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số buổi còn lại</label>
                                <input type="text" id="customer-last-day-pay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gói <span style="color:red;">(*)</span></label>
                                <select id="cbbPackage" class="form-control"></select>
                                <div class="invalid-feedback">err</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="required">Tổng tiền</label>
                                <input type="text" id="customer-total-pay" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thanh toán <span style="color:red;">(*)</span></label>
                                <select id="customer-payment" class="form-control">
                                    <option value="CASH">Tiền mặt</option>
                                    <option value="BANKING">Chuyển khoản</option>
                                </select>
                                <div class="invalid-feedback">err</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ngày thanh toán</label>
                                <span style="color:red;">(*)</span>
                                <input type="date" id="customer-payment-date" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <input type="text" id="customer-note-pay" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="p-3 mb-4"
                         style="background-color: #f5f5f5; border-radius: 12px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); overflow-x: auto;">

                        <table id="customer-table-pay" class="table table-rounded table-hover" cellspacing="0" width="100%">
                            <thead style="background-color: transparent;">
                                <tr>
                                    <th></th>
                                    <th>Gói</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Tổng tiền</th>
                                    <th>Ngày thanh toán</th>
                                    <th>Hình thức thanh toán</th>
                                    <th>Người thanh toán</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnPay"
                            class="btn btn-success rounded-border" onclick="fnValidateToPostCustomerShip()">
                        <i class="fa fa-save"></i> Thanh toán
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let _list_customer = [];
    let _list_customer_ship = [];
    let _list_room = [];
    let _list_packages = [];
    let _customer_index = -1;
    var _customer_action = "";
    var _customer_id = 0;

	$(document).ready(function () {
        fnSetupTHTable('customer-table');
        fnSetupTHTable('customer-table-pay');
        fnGetRoom();
        fnGetPackages();
        fnGetCustomer();


        document.getElementById("overlay").style.display = "none";
        $("#customer-modal").on("show.bs.modal", function (e) {
            $("#customer-code").removeClass("is-invalid");
            $("#customer-name").removeClass("is-invalid");
		});

        $("#add-customer-btn").on("click", function () {
			fnOpenAddCustomerModal();
		});

        $("#close-modal").on("click", function () {
            $("#customer-modal").modal("hide");
        });

        $("#customer-form").on("submit", function (e) {
			e.preventDefault();
			fnValidateToPostCustomer();
        });

        $('#txtSearchInvoice').on('keyup', function () {
            const searchValue = $(this).val();
            fnUpdateCustomerCard(searchValue);
        });

        $("#customer-modal-pay").on("show.bs.modal", function (e) {
            $("#cbbPackage").removeClass("is-invalid");
            $("#customer-payment").removeClass("is-invalid");
            $("#customer-payment-date").removeClass("is-invalid");
        });

        $("#close-modal-pay").on("click", function () {
            $("#customer-modal-pay").modal("hide");
        });

        $(document).on("change", "#cbbPackage", function () {
            var price = $(this).find(":selected").data("price") || 0;
            var formatted = new Intl.NumberFormat('vi-VN').format(price);
            $("#customer-total-pay").val(formatted);
        });

        const today = new Date();
        $("#customer-payment-date").val(today.toLocaleString("sv-SE").substring(0, 10));
	});

    function fnGetCustomer() {
        const customer = {
            ROOM_CODE: $("#cbbRoomSearch").val(),
            CUSTOMER_CODE: $("#txtCode").val(),
            CUSTOMER_NAME: $("#txtName").val(),
            CUSTOMER_CCCD: $("#txtCCCD").val(),
		}
		fnPostData(
			'@Url.Action("fnGetCustomer", "Home")',
            JSON.stringify(customer),
			function (msg) {
                _list_customer = msg.list;
                _list_room = msg.list_room;

                fnUpdateCustomerDataTable();
                fnUpdateCustomerCard();
			}
		);
    }

    function fnGetCustomerShip(customer_code) {
        const customer = {
            CUSTOMER_CODE: customer_code,
		}
		fnPostData(
			'@Url.Action("fnGetCustomerShip", "Home")',
            JSON.stringify(customer),
			function (msg) {
                _list_customer_ship = msg.list;
                fnUpdateCustomerShipDataTable();
			}
		);
	}

	function HandleBrowseClick() {
        var fileinput = document.getElementById("file-template");
        fileinput.click();
    }

    function Handlechange() {
        var fileinput = document.getElementById("file-template");
        var textinput = document.getElementById("filename");
        textinput.value = fileinput.value;
	}

    function fnUpdateCustomerDataTable() {
		if (!$.fn.dataTable.isDataTable('#customer-table')) {
            const table = $('#customer-table').DataTable({
				"dom": 'lrtip', "paging": false,
				"order": [],
				"scrollX": true,
				"scrollY": "60vh",
				"scrollCollapse": true,
				"initComplete": function () {
					// Apply the search
					this.api().columns().every(function () {
						var that = this;
						$('input', this.header()).on('keyup change clear', function () {
							if (that.search() !== this.value) {
								that
									.search(this.value)
									.draw();
							}
						});
					});
				},
				"responsive": true,
				"destroy": true,
				"columns": [
					{
						data: null,
						render: function (data, type, row) {
							return "";
						}
                    },
                    { data: 'ROOM_NAME' },
                    { data: 'CUSTOMER_CODE' },
                    { data: 'CUSTOMER_NAME' },
                    {
                        data: 'CUSTOMER_GENDER',
                        render: function (data) {
                            if (data === "0") {
                                return 'Nữ';
                            }
                            else {
                                return 'Nam';
                            }
                        }
                    },
                    { data: 'CUSTOMER_EMAIL' },
                    { data: 'CUSTOMER_PHONE' },
                    { data: 'CUSTOMER_CCCD' },
                    { data: 'CUSTOMER_ADDRESS' },
                    {
                        data: "STATUS",
                        render: function (data) {
                            if (data === "OBSOLETE") {
                                return '<span class="badge badge-danger">Hết hạn</span>';
                            }
                            if (data === "ACTIVE") {
                                return '<span class="badge badge-success">Đang hoạt động</span>';
                            }
                            if (data === "PROCESSING") {
                                return '<span class="badge badge-warning">Chưa hoạt động</span>';
                            }
                            return data ?? "";
                        }
                    },
                    {
                        data: 'CUSTOMER_EXPIRYDATE',
                        render: function (data, type, row) {
                            if (!data) return '';
                            return (new Date(data)).toLocaleDateString("en-GB");
                        }
                    },
                    { data: 'CREATE_USER', visible: false  },
                    {
                        data: 'CREATE_DATE',
                         visible: false,
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString("en-GB");
                        }
                    },
                    { data: 'NOTE' },
					{
						data: null,
						render: function (data, type, row) {
							let htmlActionContent = ``;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-warning"
								onclick="fnOpenEditCustomerModal(${_list_customer.indexOf(row)})">
								<i class="fas fa-edit"></i> Sửa
							</a>`;
							htmlActionContent +=
							`<a href="javascript:void(0);"
								class="badge badge-pill bg-danger"
								onclick="fnRemoveCustomerClick(${_list_customer.indexOf(row)})">
								<i class="fas fa-trash"></i> xóa
							</a>`;
                            htmlActionContent +=
                            `<a href="javascript:void(0);"
                                class="badge badge-pill bg-success"
                                onclick="fnOpenPayCustomerModal(${_list_customer.indexOf(row)})">
                                <i class="fas fa-credit-card"></i> Thanh toán
                            </a>`;
							return htmlActionContent;
						}
					},
				],
				'columnDefs': [
					{
						targets: 14,
						createdCell: function (td, cellData, rowData, row, col) {
							$(td).css('min-width', '130px');
							$(td).css('text-align', 'right');
						},
					},
                ],
                "createdRow": function (row, data, dataIndex) {
                    if (data.STATUS == "OBSOLETE") {
                        $(row).css("background-image", "linear-gradient(to right, #fff, #9e9e9e)");
                    }
                    else if (data.STATUS == "ACTIVE") {
                        $(row).css("background-image", "linear-gradient(to right, #fff, #d0f0d0)");
                    }
                }
			});
			table.on('order.dt search.dt', function () {
				table.column(0, {
					search: 'applied', order: 'applied'
				}).nodes().each(function (cell, i) {
					cell.innerHTML = i + 1;
				});
			}).draw();
		}
        $('#customer-table').dataTable().fnClearTable();
        if (_list_customer.length > 0) {
            $('#customer-table').dataTable().fnAddData(_list_customer);
		}
        fnUpdateDatalistTable('customer-table');
    }

    function fnUpdateCustomerShipDataTable() {
        if (!$.fn.dataTable.isDataTable('#customer-table-pay')) {
            const table = $('#customer-table-pay').DataTable({
                "dom": 'lrtip', "paging": false,
                "order": [],
                "scrollX": true,
                "scrollY": "60vh",
                "scrollCollapse": true,
                "initComplete": function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                },
                "responsive": true,
                "destroy": true,
                "columns": [
                    {
                        data: null,
                        render: function (data, type, row) {
                            return "";
                        }
                    },
                    { data: 'PACKAGE_NAME' },
                    {
                        data: 'STARTDATE',
                        render: function (data, type, row) {
                            if (!data) return '';
                            return (new Date(data)).toLocaleDateString("en-GB");
                        }
                    },
                    {
                        data: 'ENDDATE',
                        render: function (data, type, row) {
                            if (!data) return '';
                            return (new Date(data)).toLocaleDateString("en-GB");
                        }
                    },
                    {
                        data: 'TOTALPRICE',
                        className: 'text-left',
                        render: function (data) {
                            if (data == null) return '';
                            return parseFloat(data).toLocaleString('vi-VN');
                        }
                    },
                    {
                        data: 'PAYMENT_DATE',
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString("en-GB");
                        }
                    },
                    {
                        data: 'PAYMENT',
                        render: function (data) {
                            if (data == "CASH") {
                                return "Tiền mặt";
                            }
                            else {
                                return "Chuyển khoản";
                            }
                        }
                    },
                    { data: 'CREATE_USER' },
                    { data: 'NOTE' },
                ],
                'columnDefs': [
                    {
                        targets: 7,
                        createdCell: function (td, cellData, rowData, row, col) {
                            $(td).css('min-width', '130px');
                            $(td).css('text-align', 'right');
                        },
                    },
                ],
            });
            table.on('order.dt search.dt', function () {
                table.column(0, {
                    search: 'applied', order: 'applied'
                }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
        $('#customer-table-pay').dataTable().fnClearTable();
        if (_list_customer_ship.length > 0) {
            $('#customer-table-pay').dataTable().fnAddData(_list_customer_ship);
        }
        fnUpdateDatalistTable('customer-table-pay');
    }

    function fnUpdateCustomerCard(filter = '') {
        var html = ``;
        let keyword = filter.toLowerCase();

        _list_customer
            .filter(item =>
                item.CUSTOMER_CODE.toLowerCase().includes(keyword) ||
                item.CUSTOMER_NAME.toLowerCase().includes(keyword) ||
                item.CUSTOMER_GENDER.toLowerCase().includes(keyword) ||
                item.CUSTOMER_EMAIL.toLowerCase().includes(keyword) ||
                item.CUSTOMER_PHONE.toLowerCase().includes(keyword) ||
                item.CUSTOMER_CCCD.toLowerCase().includes(keyword) ||
                item.CUSTOMER_ADDRESS.toLowerCase().includes(keyword) ||
                item.STATUS.toLowerCase().includes(keyword) ||
                item.ROOM_NAME.toLowerCase().includes(keyword)
            ).forEach(function (item, index) {
                html += ``;
                html += `<div class="card col-12 mb-3 shadow" style="border-radius: 20px; background-color: whitesmoke ">`;
                html += `<div class="card-body border-0">`;
                html += `<div class="list-name-1">`;
                html += `<div class="d-flex justify-content-between" style="width:100%">`;
                html += `<div style="width:100%">`;
                html += `<div class="row">`;
                html += `<div class="col-xr-4 mr-3">`;
                html += `<h3 class=" badge-pill badge-success shadow" style="font-size:25px">${item.CUSTOMER_CODE}</h3>`;
                html += `</div>`;
                html += `</div>`;
                html += `<div class="row mt-2">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Tên: ${item.CUSTOMER_NAME}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">Giới tính: ${item.CUSTOMER_GENDER === "0" ? "Nữ" : "Nam"}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Email: ${item.CUSTOMER_EMAIL}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">SĐT: ${item.CUSTOMER_PHONE}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Cccd: ${item.CUSTOMER_CCCD}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Địa chỉ: ${item.CUSTOMER_ADDRESS}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px">Phòng: ${item.ROOM_NAME}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">${item.STATUS === "OBSOLETE"
                    ? '<span class="badge badge-danger shadow" style="font-size:18px;">Hết hạn</span>'
                    : item.STATUS === "ACTIVE"
                        ? '<span class="badge badge-success shadow" style="font-size:18px;">Đang hoạt động</span>'
                        : item.STATUS === "PROCESSING"
                            ? '<span class="badge badge-warning shadow" style="font-size:18px;">Chưa hoạt động</span>'
                            : '<span class="badge badge-secondary shadow" style="font-size:18px;">Không xác định</span>'}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                if (item.CUSTOMER_EXPIRYDATE) {
                    html += `<h4 class="badge badge-pill badge-secondary shadow"
                         style="font-size:20px; white-space: normal; word-break: break-word;">
                         Ngày hết hạn: ${fnFormatDate(item.CUSTOMER_EXPIRYDATE)}
                     </h4>`;
                }
                html += `</div>`;
                html += `<div class="row">`;
                html += `<h4 class="badge badge-pill badge-secondary shadow" style="font-size:20px; white-space: normal; word-break: break-word;">Ghi chú: ${item.NOTE}</h4>`;
                html += `</div>`;
                html += `<div class="row">`;
                html += `</div>`;
                html += `<div class="d-flex mt-2 gap-2">`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-warning text-dark flex-fill text-center py-2"
                    onclick="fnOpenEditCustomerModal(${_list_customer.indexOf(item)})">
                    <i class="fas fa-edit"></i> Sửa
                </a>`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-danger text-white flex-fill text-center py-2"
                    onclick="fnRemoveCustomerClick(${_list_customer.indexOf(item)})">
                    <i class="fas fa-trash"></i> Xóa
                </a>`;

                html += `<a href="javascript:void(0);"
                    class="badge bg-success text-white flex-fill text-center py-2"
                    onclick="fnOpenPayCustomerModal(${_list_customer.indexOf(item)})">
                    <i class="fas fa-credit-card"></i> Thanh toán
                </a>`;

                html += `</div>`;

                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
                html += `</div>`;
            });
        $('#cardCustomer').empty();
        $('#cardCustomer').html(html);
    }

    function fnOpenAddCustomerModal() {
        _customer_action = "INSERT";

        $("#customer-code").val("");
        $("#customer-name").focus();
        $("#customer-name").val("");
        $("#customer-email").val("");
        $("#customer-phone").val("");
        $("#customer-cccd").val("");
        $("#customer-gender").val("1");
        $("#customer-address").val("");
        $("#cbbRoom").val("");
        $("#customer-note").val("");
        $("#customer-modal").modal("show");
	}

    function fnOpenEditCustomerModal(index) {
        _customer_action = "UPDATE";
		_customer_index = index;
        const selectedCustomer = _list_customer[index];
        _customer_id = selectedCustomer.CUSTOMER_ID;

        $("#customer-code").val(selectedCustomer.CUSTOMER_CODE);
        $("#customer-name").focus();
        $("#customer-name").val(selectedCustomer.CUSTOMER_NAME);
        $("#customer-email").val(selectedCustomer.CUSTOMER_EMAIL);
        $("#customer-phone").val(selectedCustomer.CUSTOMER_PHONE);
        $("#customer-gender").val(selectedCustomer.CUSTOMER_GENDER);
        $("#customer-address").val(selectedCustomer.CUSTOMER_ADDRESS);
        $("#cbbRoom").val(selectedCustomer.ROOM_CODE);
        $("#customer-note").val(selectedCustomer.NOTE);
        $("#customer-modal").modal("show");
    }

    function fnOpenPayCustomerModal(index) {
        const selectedCustomer = _list_customer[index];
        _customer_id = selectedCustomer.CUSTOMER_ID;

        if (selectedCustomer.CUSTOMER_EXPIRYDATE) {
            let expiryDate = new Date(selectedCustomer.CUSTOMER_EXPIRYDATE);
            let today = new Date();

            expiryDate.setHours(0, 0, 0, 0);
            today.setHours(0, 0, 0, 0);

            let diffTime = expiryDate - today;
            let remainingDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

            $("#customer-last-day-pay").val(remainingDays);
        } else {
            $("#customer-last-day-pay").val(0);
        }
        $("#customer-code-pay").val(selectedCustomer.CUSTOMER_CODE);
        $("#customer-fullname-pay").val(selectedCustomer.CUSTOMER_NAME);
        $("#customer-email-pay").val(selectedCustomer.CUSTOMER_EMAIL);
        $("#customer-phone-pay").val(selectedCustomer.CUSTOMER_PHONE);
        $("#customer-room-pay").val(selectedCustomer.ROOM_CODE);

        fnGetCustomerShip(selectedCustomer.CUSTOMER_CODE);
        $("#customer-modal-pay").modal("show");
    }

    function fnRemoveCustomerClick(index) {
		if (index > -1) {
            const selectedCustomer = _list_customer[index];
            fnShowConfirm("Xóa " + selectedCustomer.CUSTOMER_NAME).then(result => {
				if (result.value) {
                    fnRemoveCustomer(selectedCustomer);
				}
			});
		}
	}

    function fnValidateToPostCustomer() {
        $("#customer-code").removeClass("is-invalid");
        $("#customer-name").removeClass("is-invalid");
        $("#customer-email").removeClass("is-invalid");
        $("#customer-phone").removeClass("is-invalid");
        $("#customer-gender").removeClass("is-invalid");
        $("#customer-address").removeClass("is-invalid");
        $("#cbbRoom").removeClass("is-invalid");
        const customerData = {
            ACTION: _customer_action,
            CUSTOMER_CODE: $("#customer-code").val(),
            CUSTOMER_NAME: $("#customer-name").val(),
            CUSTOMER_EMAIL: $("#customer-email").val(),
            CUSTOMER_PHONE: $("#customer-phone").val(),
            CUSTOMER_CCCD: $("#customer-cccd").val(),
            CUSTOMER_GENDER: $("#customer-gender").val(),
            CUSTOMER_ADDRESS: $("#customer-address").val(),
            ROOM_CODE: $("#cbbRoom").val(),
            NOTE: $("#customer-note").val(),
		};
        if (customerData.CUSTOMER_NAME == "") {
            $("#customer-name").addClass("is-invalid");
		}
        else if (customerData.CUSTOMER_PHONE == "") {
            $("#customer-phone").addClass("is-invalid");
		}
        else if (customerData.CUSTOMER_GENDER == "") {
            $("#customer-gender").addClass("is-invalid");
		}
        else if (customerData.CUSTOMER_ADDRESS == "") {
            $("#customer-address").addClass("is-invalid");
		}
        else if (customerData.ROOM_CODE == "") {
            $("#cbbRoom").addClass("is-invalid");
		}
        else if (_list_customer.some(s => (s.CUSTOMER_PHONE == customerData.CUSTOMER_PHONE) || (s.CUSTOMER_CCCD == customerData.CUSTOMER_CCCD))) {
			fnShowError("Số điện thoại hoặc CCCD đã tồn tại")
		}
		else {
            fnShowConfirm("Lưu " + customerData.CUSTOMER_NAME).then(result => {
				if (result.value) {
                    fnPostCustomer(customerData);
				}
			})
		}
	}

    function fnPostCustomer(customer) {
		fnPostData(
			'@Url.Action("fnPostCustomer", "Home")',
            JSON.stringify(customer),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#customer-modal").modal("hide");
					fnShowSuccess();
                    fnGetCustomer();
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
    }

    function fnRemoveCustomer(customer) {
		fnPostData(
			'@Url.Action("fnRemoveItem", "Home")',
            JSON.stringify(customer),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#customer-modal").modal("hide");
					fnShowSuccess();
                    fnGetCustomer();
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
	}

    function fnValidateToPostCustomerShip() {
        $("#cbbPackage").removeClass("is-invalid");
        $("#customer-payment").removeClass("is-invalid");
        const customerData = {
            ACTION: "ADD",
            CUSTOMER_CODE: $("#customer-code-pay").val(),
            PACKAGE_ID: $("#cbbPackage").val(),
            PAYMENT: $("#customer-payment").val(),
            NOTE: $("#customer-note-pay").val(),
            PAYMENT_DATE: $("#customer-payment-date").val(),
        };
        if (customerData.PACKAGE_ID == "") {
            $("#cbbPackage").addClass("is-invalid");
        }
        else if (customerData.PAYMENT == "") {
            $("#customer-payment").addClass("is-invalid");
        }
        else if (customerData.PAYMENT_DATE == "") {
            $("#customer-payment-date").addClass("is-invalid");
        }
        else {
            fnShowConfirm("Lưu " + customerData.CUSTOMER_CODE).then(result => {
                if (result.value) {
                    fnPostCustomerShip(customerData);
                }
            })
        }
    }

    function fnPostCustomerShip(customer) {
		fnPostData(
			'@Url.Action("fnPostCustomerShip", "Home")',
            JSON.stringify(customer),
			function (msg) {
				if (msg.ErrCode == "1") {
                    $("#customer-modal-pay").modal("hide");
                    fnShowSuccess();
                    fnGetCustomer();
                    fnGetCustomerShip(msg.ErrBack);
				}
				else {
					fnShowError(msg.ErrMsg);
				}
			}
		);
    }

    function fnGetRoom() {
        var item = {
            OPR_ID: $('#cbbOPR').val(),
			PROCESS_TYPE: "ACC"
        };
        fnPostDataWithoutOverlay(
            '@Url.Action("fnGetRoom", "Home")',
            JSON.stringify(item),
            function (msg) {
                fnUpdateListRoom(msg.list);
                fnUpdateListRoomSearch(msg.list);
            }
        );
    }
    function fnUpdateListRoom(list) {
        var html = '<option value="">All</option>';
        list.forEach(function (item, index) {
            html += '<option value="' + item.ROOM_CODE + '">' + item.ROOM_NAME + '</option>';
        });
        $('#cbbRoom').empty();
        $('#cbbRoom').html(html);
    }

    function fnUpdateListRoomSearch(list) {
        var html = '<option value="">All</option>';
        list.forEach(function (item, index) {
            html += '<option value="' + item.ROOM_CODE + '">' + item.ROOM_NAME + '</option>';
        });
        $('#cbbRoomSearch').empty();
        $('#cbbRoomSearch').html(html);
    }

    function fnGetPackages() {
        const packages = {
		}
		fnPostData(
			'@Url.Action("fnGetPackages", "Home")',
            JSON.stringify(packages),
            function (msg) {
                _list_packages = msg.list;
                fnUpdateListPackage(_list_packages);
			}
		);
    }

    function fnUpdateListPackage(list) {
        var html = '<option value=""></option>';
        list.forEach(function (item) {
            html += '<option value="' + item.PACKAGEID + '" data-price="' + item.PRICE + '">'
                + item.PACKAGENAME + '</option>';
        });
        $('#cbbPackage').empty().html(html);
    }
</script>
